DATABASE_URL=postgresql://postgres:75340488De@123@db.zwtozaalwcdaimjemxfm.supabase.co:5432/postgres
WEBHOOK_SECRET=abc123

# poner tu clave secreta cuando subscribes tu URL con el webhook
WHATSAPP_VERIFY_TOKEN=abc123

WHATSAPP_TOKEN=EAAVTMw4SPm8BRzJicOuvWzZBY3bi8ZBYkPMoc3QRziN8rvzYHmgqf9FcFOU7cpji6v0QFfAqcClrZBrg0eiY5ZBPt52ATCAlrxMRxqH2Ewe2Q1xfmNfgokSjaxgZBWu0auhIYt0wGKzpbri6AsT8HxYx0lFZBC6eYCv5b4oDkYLJa8qWI48Sr0Eu9ZBHHgy6HL1x0dN1jwlREdXyOiDB2DD8M7xosVgWZBsqky4vzW2kXBY5cGiuEL8PV8WACLIhfhBgC0FFYJXjs2oA6FdeFkabwZBzMdQZDZD
WHATSAPP_PHONE_NUMBER_ID=1040440789158588
WHATSAPP_TEST_NUMBER=59165862797