DATABASE_URL=URL-POSTGRES
WEBHOOK_SECRET=123-abc

# poner tu clave secreta cuando subscribes tu URL con el webhook
WHATSAPP_VERIFY_TOKEN=abc123

WHATSAPP_TOKEN=tu_token_de_meta
WHATSAPP_PHONE_NUMBER_ID=tu_phone_number_id
WHATSAPP_TEST_NUMBER=591XXXXXXXX